body{
    margin: 0;
    overflow: hidden;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}

main section {
    height: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60vh;
    align-items: center;
}

main section img {
    max-width: 100%;
    max-height: 100%;
}
