body{
    margin: 0;
    overflow: hidden;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}

.style {
    height: 50vw,
}

.style {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60vh;
    align-items: center;
}

.style img {
    max-width: 100%;
    max-height: 100%;
}
